
.auth-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: rgb(219, 219, 219);
    height: fit-content;
    border-radius: 
    10px;
}

.auth-form h1 {
    text-align: center;
}

.auth-form input {
    padding: 12px;
    font-size: 16px;
    background-color: aliceblue;
    border-radius: 10px;
}

.auth-form button {
    padding: 10px;
    cursor: pointer;
}

.auth-form p {
    text-align: center;
}

.auth-form a {
    text-decoration: none;
}

.back{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}